@page "/new-bug"

<h3>Add New Bug</h3>

<EditForm Model="AddBug" OnValidSubmit="HandleValidSubmit">
    <InputText @bind-Value="@AddBug.Title" placeholder="Enter Title"></InputText>
    <InputText @bind-Value="@AddBug.Description" placeholder="Enter Description"></InputText>
    <InputNumber @bind-Value="@AddBug.Priority" placeholder="Enter Priority"></InputNumber>
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <button type="submit">Add Bug</button>
</EditForm>

@code {
    private Bug _bug;

    public Bug AddBug
    {
        get { return _bug; }
    }

    [Inject]
    public IBugService BugService { get; set; }

    [Inject]
    public NavigationManager NavService { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _bug = new Bug();
    }

    protected void HandleValidSubmit()
    {
        BugService.AddBug(AddBug);

        NavService.NavigateTo("");
    }

}
